body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1{
    font-weight: bolder;
    color: rgb(4, 131, 57);
    position: absolute;
    left: 10%;
}
#cartIcon{
    position: absolute;
    left: 80%;
    top: 5%;
    width: 60px;
}
#itemsAdded{
    position: absolute;
    left: 85%;
     top: 5%;
     font-size: 25px;
     font-weight: bold;
}

.lap1{
    width: 350px;
}
.lap2{
    width: 250px;
}
#product{
    display: inline-block;
    margin: 50px;
    padding: 80px;
    margin-top: 10%;
    margin-left: 70px;
}
h3{ 
    padding-top: 40px;
}
#addToCart{
    background-color: aqua;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
}
.container{
    display: flex;
    flex-direction: column;
    border: solid 5px rgb(0, 148, 128);
    align-items: center;
    margin-top: 2% 20% 10% 20%;
    

}
.item a{
    margin: 10px;
    text-decoration: none;
    text-decoration-style: none;
    padding: 10px;
    font-size: 20px;
}